version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ai_bloom_development
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bin/rails server -b 0.0.0.0 -p 3000"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USERNAME: postgres
      DB_PASSWORD: password
      GA_MEASUREMENT_ID: "G-WQ3HE0E5QY"
      SENTRY_DSN: "https://4fb15cf205fa9c11cb587971d9bcc00a@o4510380894060544.ingest.us.sentry.io/4510380969164800"

volumes:
  db-data:
