<turbo-stream action="replace" target="post_form_frame">
  <template>
    <div class="text-center py-6">
      <p class="text-lg font-semibold text-green-600">投稿が完了しました！</p>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="invoke" target="post-modal">
  <template>
    close
  </template>
</turbo-stream>
